    <%- include('partials/head')%>
<body class="d-flex flex-column vh-100">

    <%- include('partials/navbar')%>
        <main class="container mt-5">
        
        <!--
        <div class="container"> 
            <div class="row">
              <div class="col">
                1 of 3
              </div>
              <div class="col-md-auto">
                Variable width content
              </div>
              <div class="col col-lg-2">
                3 of 3
              </div>
            </div>
          </div>
           -->
           <div class="row no-gutters">
            <div class="col-9">
                <h1>HomePage</h1>
                  <% if(foundUser.note) {%> 
                  <% for(let notes of foundUser.note) {%>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h4 class="card-title"><%=notes.title%></h4>
                    
                    <p class="card-text" id="myInput"><%=notes.text%></p>
                    <a class="card-link btn btn-info btn-sm" href="/edit">Edit</a>
                    
                    <button class="btn btn-secondary btn-sm" onclick="myFunction()">Copy to clipboard</button>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                  </div>
                  
                </div>
                 <% } %>
                 <% } %> 
            </div>
            <div class="col-3">
                <div class="card" style="width: 100%;">
                    <div class="mx-auto" > 
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="user" width="10" height="150">
                    </div>
                    <div class="card-body">                 
                      <h5 class="card-title">Welcome <%= foundUser.username %> </h5>
                      <a href="/new" class="btn btn-primary">Make New Note </a>
                    </div>
                  </div>

            </div>
          </div>


        </main>
        <script>
          function myFunction() {
            
            var copyText = document.getElementById("myInput");
          
          
            copyText.select();
            copyText.setSelectionRange(0, 99999); 
          
           
            navigator.clipboard.writeText(copyText.value);
            
            
            alert("Copied the text: " + copyText.value);
          }
          </script>
    <%- include('partials/footer')%>